In [5]:
def is_leap(year):
    leap = False
    
    # Write your logic here
    if (year%4 == 0):
        leap = True
        if (year%4 == 0 and year%100 == 0):
            leap = False
            if (year%4 == 0 and year%100 == 0 and year%400 == 0):
                leap = True       
    return leap

In [8]:
print is_leap(2100)

False

In [14]:
n=3
x=[]
for i in range(n):
    print n

3
3
3

In [15]:
x = range(3)
x

[0, 1, 2]

In [16]:
x[0]

0

In [7]:
a = raw_input()

harshit 52

In [8]:
a

'harshit 52'

In [10]:
type(a)

str

In [ ]:
# 16
 1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
 4
 intersection_update 10
 2 3 5 6 8 9 1 4 7 11
 update 2
 55 66
 symmetric_difference_update 5
 22 7 35 62 58
 difference_update 7
 11 22 35 55 58 62 66

In [11]:
n = int(raw_input())

16

In [12]:
a = set(raw_input().split(' '))

2 4 6 7 3 6 78 43 2 65 7

In [13]:
a

{'2', '3', '4', '43', '6', '65', '7', '78'}

In [14]:
m = int(raw_input())

2

In [21]:
for i in range(m):
    x = raw_input().split(' ')[0]
    y = set(raw_input().split(' '))
    eval('a.' + x + '(y)')

intersection_update 10
2 3 5 6 8 9 1 4 7 11
update 2
55 66

In [19]:
b = 'a.' + x + '(y)'

In [29]:
s=0
for i in a:
    s = s+int(i)
    
s

143

In [30]:
intersection_update 10
2 3 5 6 8 9 1 4 7 11
update 2
55 66

SyntaxError: invalid syntax (<ipython-input-30-e5dea8273c3d>, line 1)

In [54]:
b = raw_input().split(' ')

1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2

In [55]:
b

['1',
 '2',
 '3',
 '6',
 '5',
 '4',
 '4',
 '2',
 '5',
 '3',
 '6',
 '1',
 '6',
 '5',
 '3',
 '2',
 '4',
 '1',
 '2',
 '5',
 '1',
 '4',
 '3',
 '6',
 '8',
 '4',
 '3',
 '1',
 '5',
 '6',
 '2']

In [56]:
c = set(b)

In [57]:
c

{'1', '2', '3', '4', '5', '6', '8'}

In [78]:
import time
c = set(b)

t0 = time.time()
time 
n ={}
for i in b:
    n[i] = b.count(i)
t1 = time.time()

for i in n:
    if n[i] == 1:
        print i

t1-t0

8

0.0009999275207519531

In [71]:
time n

Wall time: 0 ns

{'1': 5, '2': 5, '3': 5, '4': 5, '5': 5, '6': 5, '8': 1}

In [63]:
for i in n:
    if n[i] == 1:
        print i

8

AttributeError: 'set' object has no attribute 'sum'

In [ ]:
N = int(raw_input())
a = []
for i in range(N):
    inp = raw_input().split(' ')
    x = inp[0]        
    if x == 'insert':
        a.insert(int(inp[1]), int(inp[2]))
    if x == 'remove':
        a.remove(int(inp[1]))
    if x == 'sort':
        a.sort()
    if a == 'pop':
        a.pop()
    if a == 'reverse':
        a.reverse()
    if a == 'append':
        a.append(int(inp[1]))
    if x == 'print':
        print a

12

a.insert(0,5)

In [5]:
a

[5]

In [5]:
a

[5, 10]

In [6]:
a

[5, 10]

In [7]:
a.append(9)

In [2]:
a = [5, 10, 9]

In [3]:
a

[5, 10, 9]

In [4]:
a. sort

In [5]:
a

[5, 10, 9]

In [6]:
a.sort

In [7]:
a.sort()

In [8]:
a

[5, 9, 10]

In [10]:
x = 1
range (x)

[0]

In [31]:
n = int(raw_input())
arr = map(int, raw_input().split())

4
57 57 -57 57

In [32]:
arr

[57, 57, -57, 57]

In [45]:
arr.sort()

In [51]:
arr

[-57, 57, 57, 57]

In [52]:
set(arr)

{-57, 57}

In [49]:
a = list(set(arr))

In [53]:
sorted(a)

[-57, 57]

In [42]:
a

[57, -57]

In [4]:
students = []
score_list = []
for _ in range(int(raw_input())):
    name = raw_input()
    score = float(raw_input())
    students.append([name, score])
for i in students:
    score_list.append(i[1])
a = list(set(score_list))
x = sorted(a)
n = x[-2]
for i in students:
    if i[1] == n:
        print i[0]

4
a
1
b
2
c
2
d
3
b
c

In [5]:
score_list

[1.0, 2.0, 2.0, 3.0]

In [8]:
n

2.0

In [9]:
students

[['a', 1.0], ['b', 2.0], ['c', 2.0], ['d', 3.0]]

In [14]:
for i in students:
    if i[1] == 2.0:
        print i[0]

b
c

In [48]:
s = 'Harshit Gautam'

In [53]:
x = ''
for i in s:
    if i.islower():
        x = x + str(i.upper()) 
    else:
        x = x + str(i.lower())
    
print x

hARSHIT gAUTAM

In [43]:
x

''

In [26]:
for i in s:
    if boi.islower:
        print i

H
a
r
s
h
i
t

G
a
u
t
a
m

In [56]:
a = 'harshit'

In [55]:
b = 'gautam'

In [58]:
print 'Hello ' + str(a) + ' ' + str(b) + '! You just delved into python.'

Hello harshit gautam! You just delved into python.

In [103]:
string ='ABCDCDCABCDCD'

In [104]:
sub_string = 'C'

In [100]:
n = len(substring)

In [15]:
n

3

In [105]:
count = 0
while(string != ''):
    n = string.find(sub_string)
    if(n != -1):
        count = count + 1
        string = string[(n+1):(len(string))]
    else:
        break

In [106]:
count

5

In [18]:
string

''

In [109]:
#Replace all ______ with rjust, ljust or center. 

thickness = int(raw_input()) #This must be an odd number
c = 'H'

#Top Cone
for i in range(thickness):
    print (c*i).rjust(thickness-1)+c+(c*i).ljust(thickness-1)

#Top Pillars
for i in range(thickness+1):
    print (c*thickness).center(thickness*2)+(c*thickness).center(thickness*6)

#Middle Belt
for i in range((thickness+1)/2):
    print (c*thickness*5).center(thickness*6)    

#Bottom Pillars
for i in range(thickness+1):
    print (c*thickness).center(thickness*2)+(c*thickness).center(thickness*6)    

#Bottom Cone
for i in range(thickness):
    print ((c*(thickness-i-1)).rjust(thickness)+c+(c*(thickness-i-1)).ljust(thickness)).rjust(thickness*6)

5
    H
   HHH
  HHHHH
 HHHHHHH
HHHHHHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
                    HHHHHHHHH
                     HHHHHHH
                      HHHHH
                       HHH
                        H

In [112]:
N, M = map(int,raw_input().split()) # More than 6 lines of code will result in 0 score. Blank lines are not counted.
for i in xrange(1,N,2): 
    print ('.|.'*i).center(M,'-')
print 'Welcome'.center(M, '-')
for i in xrange(N-2,-1,-2): 
    print ('.|.'*i).center(M,'-')

7 21
---------.|.---------
------.|..|..|.------
---.|..|..|..|..|.---
-------Welcome-------
---.|..|..|..|..|.---
------.|..|..|.------
---------.|.---------

In [113]:
oct(9)

'011'

In [114]:
hex (11)

'0xb'

In [118]:
bin(9)

'0b1001'

In [151]:
alphabets = 'abcdefghijklmnopqrstuvwxyz'
alphabet_list =[]

In [123]:
alphabet_list

'a'

------------------j------------------
----------------j-i-j----------------
--------------j-i-h-i-j--------------
------------j-i-h-g-h-i-j------------
----------j-i-h-g-f-g-h-i-j----------
--------j-i-h-g-f-e-f-g-h-i-j--------
------j-i-h-g-f-e-d-e-f-g-h-i-j------
----j-i-h-g-f-e-d-c-d-e-f-g-h-i-j----
--j-i-h-g-f-e-d-c-b-c-d-e-f-g-h-i-j--
j-i-h-g-f-e-d-c-b-a-b-c-d-e-f-g-h-i-j
--j-i-h-g-f-e-d-c-b-c-d-e-f-g-h-i-j--
----j-i-h-g-f-e-d-c-d-e-f-g-h-i-j----
------j-i-h-g-f-e-d-e-f-g-h-i-j------
--------j-i-h-g-f-e-f-g-h-i-j--------
----------j-i-h-g-f-g-h-i-j----------
------------j-i-h-g-h-i-j------------
--------------j-i-h-i-j--------------
----------------j-i-j----------------
------------------j------------------

In [145]:
string = 'AABCAAADAAAACCC'
k = 5
# your code goes here
n = int(len(string))
buff = []
buff_string = ''
buff2 = []
for i in string:
    if (string != ''):
        substring = string[0:k]
        string = string[k:n]
        buff.append(substring)
    else:
        break
print buff

['AABCA', 'AADAA', 'AACCC']

In [135]:
merge_the_tools('AABCAAADA', 3)

['AAB', 'CAA', 'ADA']

In [142]:
for i in buff:
    for x in i:
        if x not in buff_string:
            buff2.append(x)
            buff_string = ''.join(buff2)
    buff2 = []
    print (buff_string)
    buff_string = ''

ABCD
ACDB
BCA

In [171]:
l_mem = []

In [172]:
l = l_mem           # the third call
for i in range(3):
    l.append(i*i)

print(l)

[0, 1, 4]

In [15]:
l_mem = []

l = l_mem           # the first call
for i in range(2):
    l.append(i*i)

print(l)            # [0, 1]

l = [3,2,1]         # the second call
for i in range(3):
    l.append(i*i)

print(l)            # [3, 2, 1, 0, 1, 4]

l = l_mem           # the third call
for i in range(3):
    l.append(i*i)

print(l)

[0, 1]
[3, 2, 1, 0, 1, 4]
[0, 1, 0, 1, 4]

In [7]:
A = ([1,2,3])
B = ([1,3,2])
a = sorted(list(A))
b = sorted(list(B))
if A == B:
    print 'TRUE'
else:
    print 'False'

False

In [14]:
print a

1

In [13]:
b

3

In [11]:
a = raw_input().split('+')
x = int(a[0])
y = int((a[1].split('j'))[0])
print x, y

1+2j
1 2

In [12]:
import math
# Enter your code here. Read input from STDIN. Print output to STDOUT
a = input()
b = input()
print str(int(round((math.degrees(math.atan(a/b))), 0))) + '°'

1
3
0°

In [16]:
l

[0, 1, 0, 1, 4]

In [18]:
print [i for i in l]

[0, 1, 0, 1, 4]

In [21]:
for i in range(1,int(raw_input())+1):
    print (list(range(1,i+1))+list(range(1,i)))

3
[1]
[1, 2, 1]
[1, 2, 3, 1, 2]

In [27]:
a = reduce(lambda x,y: x*10+y

In [28]:
print a(1,2)

12

In [2]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
from collections import Counter
a = input()
b = Counter(map(int, raw_input().split(' ')))
c = input()
price = 0
for i in range(c):
    size, cost = map(int, raw_input().split(' '))
    if b[size]:
        price = cost + price
        b[size] -= 1
print price

10
2 3 4 5 6 8 7 6 5 18
6
6 55
6 45
6 55
4 40
19 60
18 60
200

In [3]:
a

10

In [4]:
b

Counter({2: 1, 3: 1, 4: 0, 5: 2, 6: 0, 7: 1, 8: 1, 18: 0})

In [5]:
b[size]

0

In [6]:
b[2]

1

In [7]:
b[5]

2

In [8]:
a,b,c,d,e,f = map(int, raw_input().split(' '))

1 2 3 4 5 6

In [9]:
a

1

In [10]:
b

2

In [11]:
d

4

In [12]:
e

5

In [15]:
[a,b,c,d,e,f] = [55,66,77,88,99,65]

In [16]:
a

55

In [17]:
e

99

In [18]:
a = [55,66,77,88,99,65]

In [19]:
a

[55, 66, 77, 88, 99, 65]

In [22]:
' '.join(map(str,a))

'55 66 77 88 99 65'

In [7]:

from datetime import timedelta, date

start_date = date(2016, 9, 1)
end_date = date(2016, 10,1)

def date_range(start_date, end_date):
    for n in range(int ((end_date - start_date).days)):
        yield start_date + timedelta(n)   



for single_date in date_range(start_date, end_date):
    print single_date

SyntaxError: invalid syntax (<ipython-input-7-60b19ad6843e>, line 9)