In [1]:
# Import pandas and enable pylab
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
# Set directory to MovieLens 1M data set
%cd ~/Dropbox/Teaching/Courses/Workshops/Python

/Users/seanbarnes/Dropbox/Teaching/Courses/Workshops/Python

In [3]:
# Import users data set
unames = ['user_id', 'gender', 'age', 'occupation', 'zip']
users = pd.read_table('users.dat', sep='::', header=None, names=unames)
users.head()

/Users/seanbarnes/Library/Enthought/Canopy_64bit/User/lib/python2.7/site-packages/pandas/io/parsers.py:648: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators; you can avoid this warning by specifying engine='python'.
  ParserWarning)

   user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455

In [4]:
# Import ratings data set
rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table('ratings.dat', sep='::', header=None, names=rnames)
ratings.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [5]:
# Import movies data set
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table('movies.dat', sep='::', header=None, names=mnames)
movies.head()

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [6]:
# Separate year from movie titles
movies['year'] = movies['title'].map(lambda x: x[-5:-1])
movies['title'] = movies['title'].map(lambda x: x.split(' (')[0])
movies.head()

   movie_id                        title                        genres  year
0         1                    Toy Story   Animation|Children's|Comedy  1995
1         2                      Jumanji  Adventure|Children's|Fantasy  1995
2         3             Grumpier Old Men                Comedy|Romance  1995
3         4            Waiting to Exhale                  Comedy|Drama  1995
4         5  Father of the Bride Part II                        Comedy  1995

In [7]:
# Determine all unique genres
genres = []
for g in movies.genres:
    genres.extend(g.split('|'))
genres = sorted(list(set(genres)))
genres

['Action',
 'Adventure',
 'Animation',
 "Children's",
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film-Noir',
 'Horror',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'War',
 'Western']

In [8]:
# Construct new DataFrame with dummies and add to movies DataFrame
dummies = pd.DataFrame(np.zeros((len(movies), len(genres))), columns = genres)
for i, gen in enumerate(movies.genres):
    dummies.ix[i, gen.split('|')] = 1
movies = movies.join(dummies)
movies.head()

,movie_id,title,genres,year,Action,Adventure,Animation,Children's,Comedy,Crime,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story,Animation|Children's|Comedy,1995,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji,Adventure|Children's|Fantasy,1995,0,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men,Comedy|Romance,1995,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale,Comedy|Drama,1995,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II,Comedy,1995,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
# Determine which genres have the most movies
movies.ix[:, 'Action':'Western'].sum()

Action          503
Adventure       283
Animation       105
Children's      251
Comedy         1200
Crime           211
Documentary     127
Drama          1603
Fantasy          68
Film-Noir        44
Horror          343
Musical         114
Mystery         106
Romance         471
Sci-Fi          276
Thriller        492
War             143
Western          68
dtype: float64

In [10]:
# Merge data
data = pd.merge(pd.merge(ratings, users), movies)
data.ix[0]

user_id                                      1
movie_id                                  1193
rating                                       5
timestamp                            978300760
gender                                       F
age                                          1
occupation                                  10
zip                                      48067
title          One Flew Over the Cuckoo's Nest
genres                                   Drama
year                                      1975
Action                                       0
Adventure                                    0
Animation                                    0
Children's                                   0
Comedy                                       0
Crime                                        0
Documentary                                  0
Drama                                        1
Fantasy                                      0
Film-Noir                                    0
Horror                                       0
Musical                                      0
Mystery                                      0
Romance                                      0
Sci-Fi                                       0
Thriller                                     0
War                                          0
Western                                      0
Name: 0, dtype: object

In [11]:
# Describe rating for the comedy genre
data['rating'][data['Comedy'] == 1].describe()

count    356580.000000
mean          3.522099
std           1.120726
min           1.000000
25%           3.000000
50%           4.000000
75%           4.000000
max           5.000000
Name: rating, dtype: float64

In [12]:
# Describe rating for the horror genre
data['rating'][data['Horror'] == 1].describe()

count    76386.000000
mean         3.215013
std          1.225531
min          1.000000
25%          2.000000
50%          3.000000
75%          4.000000
max          5.000000
Name: rating, dtype: float64