In [22]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as pp 
import seaborn
from collections import Counter
from numpy import math

In [5]:
%matplotlib inline

In [6]:
df = pd.read_csv('C:/Users/hgsgautam/Desktop/Python/PythonGIT/Wk.csv')

In [7]:
df

,Unnamed: 0,Check Number,Transaction Date/Time,Item Name,Item Number,Line Count,Line Total,date,day
0,0,1079,10/10/2013 12:15 PM,Cola,9207,2,5.50,10/10/2013,Thursday
1,1,1079,10/10/2013 12:15 PM,Cuban Sandwich/003,10721,1,10.00,10/10/2013,Thursday
2,2,1079,10/10/2013 12:15 PM,Panini - Portobello/003,9244,1,9.00,10/10/2013,Thursday
3,3,1080,10/10/2013 12:16 PM,DRESSING/SIDE,9385,1,NaN,10/10/2013,Thursday
4,4,1080,10/10/2013 12:16 PM,Lunch Special,10719,1,8.00,10/10/2013,Thursday
5,5,1081,10/10/2013 12:23 PM,Crab Cake Salad/003,10926,2,24.00,10/10/2013,Thursday
6,6,1081,10/10/2013 1:14 PM,Cafe Americano/003,9238,1,2.75,10/10/2013,Thursday
7,7,1085,10/10/2013 1:38 PM,Gl Annalisa/003,11545,1,7.00,10/10/2013,Thursday
8,8,1085,10/10/2013 1:38 PM,Gl DeAngelis Rosso/003,11783,1,7.00,10/10/2013,Thursday
9,9,1085,10/10/2013 1:38 PM,Mixed Nuts/003,9286,1,4.00,10/10/2013,Thursday
10,10,1085,10/10/2013 1:38 PM,Olives,9227,1,4.00,10/10/2013,Thursday
11,11,1086,10/10/2013 2:20 PM,** AS ENTREE **,10486,1,NaN,10/10/2013,Thursday
12,12,1086,10/10/2013 2:20 PM,**AS APP**,9279,2,NaN,10/10/2013,Thursday
13,13,1086,10/10/2013 2:20 PM,Arugula Beet Salad/003,11859,1,12.00,10/10/2013,Thursday
14,14,1086,10/10/2013 2:20 PM,Baby Green Salad/003,11858,1,11.00,10/10/2013,Thursday
15,15,1086,10/10/2013 2:20 PM,Gl Smith & Hook/003,11315,2,24.00,10/10/2013,Thursday
16,16,1086,10/10/2013 2:20 PM,Soup of the Day,8998,2,12.00,10/10/2013,Thursday
17,17,1086,10/10/2013 2:25 PM,Croque Monsr/003,9314,1,9.00,10/10/2013,Thursday
18,18,1086,10/10/2013 2:25 PM,Kids Grilled Chz,9307,1,6.00,10/10/2013,Thursday
19,19,1086,10/10/2013 2:27 PM,** AS ENTREE **,10486,-1,NaN,10/10/2013,Thursday
20,20,1086,10/10/2013 2:27 PM,Arugula Beet Salad/003,11859,-1,(12.00),10/10/2013,Thursday
21,21,1086,10/10/2013 2:27 PM,Baby Green Salad/003,11858,-1,(11.00),10/10/2013,Thursday
22,22,1086,10/10/2013 3:58 PM,Gl Smith & Hook/003,11315,3,36.00,10/10/2013,Thursday
23,23,1086,10/10/2013 4:30 PM,Gl Smith & Hook/003,11315,2,24.00,10/10/2013,Thursday
24,24,1086,10/10/2013 5:20 PM,Gl Annebella/003,11846,1,9.00,10/10/2013,Thursday
25,25,1087,10/10/2013 2:33 PM,** AS ENTREE **,10486,1,NaN,10/10/2013,Thursday
26,26,1087,10/10/2013 2:33 PM,**AS APP**,9279,1,NaN,10/10/2013,Thursday
27,27,1087,10/10/2013 2:33 PM,Biscuit Nuggets/003,11507,1,5.00,10/10/2013,Thursday
28,28,1087,10/10/2013 2:33 PM,Chicken Pasta/003,10927,1,10.00,10/10/2013,Thursday
29,29,1087,10/10/2013 2:33 PM,FLT Spain/003,9140,1,9.00,10/10/2013,Thursday
...,...,...,...,...,...,...,...,...,...
1037707,1037707,4621,9/9/2016 8:17 PM,Cobb Salad,13646,1,14.00,9/9/2016,Friday
1037708,1037708,4621,9/9/2016 8:17 PM,Medium,8302,1,NaN,9/9/2016,Friday
1037709,1037709,4621,9/9/2016 8:17 PM,Mussels,12242,1,14.00,9/9/2016,Friday
1037710,1037710,4621,9/9/2016 8:17 PM,Mussels,12242,1,14.00,9/9/2016,Friday
1037711,1037711,4621,9/9/2016 8:17 PM,Pappardelle,10770,1,13.00,9/9/2016,Friday
1037712,1037712,4621,9/9/2016 8:17 PM,Pappardelle,10770,1,13.00,9/9/2016,Friday
1037713,1037713,4621,9/9/2016 8:49 PM,Fire,12054,1,NaN,9/9/2016,Friday
1037714,1037714,4621,9/9/2016 9:08 PM,Gl Callac,13394,1,16.50,9/9/2016,Friday
1037715,1037715,4622,9/9/2016 8:20 PM,Don Randy,12214,1,12.00,9/9/2016,Friday
1037716,1037716,4622,9/9/2016 8:20 PM,Shandy,13581,1,9.00,9/9/2016,Friday
1037717,1037717,4622,9/9/2016 8:26 PM,********************,11170,1,NaN,9/9/2016,Friday
1037718,1037718,4622,9/9/2016 8:26 PM,Diver Scallops,12489,1,29.00,9/9/2016,Friday
1037719,1037719,4622,9/9/2016 8:26 PM,Medium Rare,8301,1,NaN,9/9/2016,Friday
1037720,1037720,4622,9/9/2016 8:26 PM,Roseda Burger,13252,1,16.00,9/9/2016,Friday
1037721,1037721,4622,9/9/2016 8:26 PM,Tuna Tartar,9694,1,14.00,9/9/2016,Friday
1037722,1037722,4622,9/9/2016 8:34 PM,Fire,12054,1,NaN,9/9/2016,Friday
1037723,1037723,4622,9/9/2016 8:59 PM,Don Randy,12214,1,12.00,9/9/2016,Friday
1037724,1037724,4622,9/9/2016 8:59 PM,Porch Sipper,13582,1,12.00,9/9/2016,Friday
1037725,1037725,4623,9/9/2016 8:46 PM,Summer's End,13756,2,22.00,9/9/2016,Friday
1037726,1037726,4623,9/9/2016 8:46 PM,Duck Breast,11100,1,28.00,9/9/2016,Friday
1037727,1037727,4623,9/9/2016 8:46 PM,Lager Chicken/002,13351,1,23.00,9/9/2016,Friday
1037728,1037728,4623,9/9/2016 8:46 PM,Medium Rare,8301,1,NaN,9/9/2016,Friday
1037729,1037729,4626,9/9/2016 9:10 PM,GL BR Cohn,13743,1,11.50,9/9/2016,Friday
1037730,1037730,4626,9/9/2016 9:10 PM,GL BR Cohn,13743,1,11.50,9/9/2016,Friday
1037731,1037731,4627,9/9/2016 9:22 PM,Btl Dibon Cava,10859,1,28.00,9/9/2016,Friday
1037732,1037732,4627,9/9/2016 9:22 PM,NO GLASSES,9461,1,NaN,9/9/2016,Friday
1037733,1037733,4627,9/9/2016 9:35 PM,*Memo*,8556,1,NaN,9/9/2016,Friday
1037734,1037734,4627,9/9/2016 9:35 PM,*Memo*,8556,1,NaN,9/9/2016,Friday
1037735,1037735,4627,9/9/2016 9:35 PM,Diver Scallops,12489,1,29.00,9/9/2016,Friday
1037736,1037736,4627,9/9/2016 9:35 PM,Halibut,13639,1,29.00,9/9/2016,Friday

In [19]:
new_path = 'C:/Users/hgsgautam/Desktop/Python/PythonGIT/Wk4.txt'
result = open(new_path,'w')

In [26]:
x = ""
prev = 0
for index, row in df.iterrows():
    if(row['Check Number'] == prev):
        if(str(row['Line Total']) != 'NaN'):
            x = x + "," +row['Item Name']
    else:
        if(str(row['Line Total']) != 'NaN'):
            result.write(x + '\n')
            x = "" + row['Item Name']
            prev = row['Check Number']

KeyboardInterrupt:

In [10]:
class(df.Check Number)

SyntaxError: invalid syntax (<ipython-input-10-fa887a888fc5>, line 1)

In [1]:
new_path = 'C:/Users/hgsgautam/Desktop/Python/PythonGIT/Wk.txt'
new_days = open(new_path,'w')

title = 'Days of the Week\n'
print(title)
new_days.write(title)

Days of the Week